body {
    font-family: "Montserrat";
}

h1 {
    font-weight: 100;
    font-size: 72px;
}

ul, form {
    font-size: 24px;
}

.tasks-left-class {
    font-size: 14px;
}

.input-class {
    font-size: 1em;
}

.input-class::placeholder {
  opacity: 0.4;
}

.input-class:focus {
    box-shadow: none;
}

.close-icon-class, .enter-icon-class {
    visibility: hidden;
}

li:hover > .close-icon-class {
    visibility: visible;
}

enter-div-class:hover > .enter-icon-class {
   visibility: visible; 
}